<div class="row">
  <div class="col-md-4">
    <%= text_field_tag '', '', id: 'search', 'ng-change': 'filterObjects()', 'ng-model': 'search',
      class: 'form-control', placeholder: I18n.t('general.type_here') %>
  </div>
</div>
