<script type="text/ng-template" id="row">
  <td>
    <a href="#!" ng-click="redirectShow('profiles/' + object.id)"><span>{{object.name}}</span></a>
  </td>
  <td>
    <%= button_tag I18n.t('actions.edit'), 'ng-click': 'editObject(object)',
      class: 'btn btn-primary btn-xs',
      'ng-show': "#{current_user.profile.id}==object.id" if current_user %>
  </td>
</script>
