<h1>Editar Perfil</h1>

<%= render 'form', profile: @profile %>

<%= link_to I18n.t('active_record.models.profile.actions.show'),
  @profile, class: 'waves-effect waves-light btn' %>
<%= link_to I18n.t('active_record.models.profile.actions.back'), profiles_path, class: 'waves-effect waves-light btn' %>
