<p id="notice"><%= notice %></p>
<h1>Perfis</h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t('active_record.models.profile.attributes.name') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.name %></td>
        <td><%= link_to I18n.t('active_record.models.profile.actions.show'), profile %></td>
      </tr>
    <% end %>
  </tbody>
</table>
