<p id="notice"><%= notice %></p>

<h1><%= I18n.t('active_record.models.post.title.posts')%></h1>

<br>

<%= link_to I18n.t('active_record.models.post.actions.new'),
  new_post_path, class: 'waves-effect waves-light btn' if current_user %>

<% @posts.each do |post| %>
  <%= render 'card', post: post %>
<% end %>
