<!-- Dropdown Structure -->
<nav>
  <div class="nav-wrapper blue-grey">
    <a href="#!" class="brand-logo">MICROBLOG</a>
    <ul class="right hide-on-med-and-down">
      <% if !current_user %>
          <li><%= link_to I18n.t('devise.actions.signup'), new_user_registration_path, :method => :get %></li>
          <li><%= link_to I18n.t('devise.actions.signin'), new_user_session_path, :method => :get %></li>
      <% else %>
          <li><%= current_user.email %></li>
          <li><%= link_to I18n.t('devise.actions.signout'), destroy_user_session_path, :method => :delete %></li>
      <% end %>
    </ul>
  </div>
</nav>
<a href="#" data-activates="slide-out" class="button-collapse">
  <i class="material-icons">Menu</i>
</a>
